<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue组件的使用</title>
    <script src="./vue.js"></script>
    <style>
        button {
        border: 1px solid #c3c3c3;
    }
    </style>
</head>


<body>
    <div id="app">
        <input type="text" v-model='inputValue' @keyup.enter='submit'>
        <button @click='submit'>这是一个按钮</button>
        <ul>
            <todo-item v-for='(item, index) of list' :key='index' :content='item' :index='index' @nih='todoDelete'
            >
        <!-- @nih 这是简写具体的写法是 v-on:nih 这句话的意思就是当nih这个参数出现的时候, 执行todoDelete. 之后todoDelete 触发写在methods里面的方法. 于是splice删除方法被触发.-->
        </todo-item>
        </ul>
    </div>
    <script>
        Vue.component('todo-item', {
            props: ['content', 'index'],
            template: '<li @click="nih">{{content}}{{index}}</li>',
            methods: {
                nih: function () {
                    this.$emit('nih', this.index)
                }//删除功能__发给父组件参数.
            }
        })
        new Vue({
            el: '#app',
            data: {
                inputValue: "这是什么?",
                list: []
            },
            methods: {
                submit: function () {
                    if (this.inputValue != "") {
                        this.list.push(this.inputValue);
                        this.inputValue = '';
                    } else {
                        this.inputValue = '';

                    }
                },
                todoDelete: function (index) {
                    this.list.splice(index, 1)
                }//接收参数.
            }
        })
    </script>

</body>

</html>